<h1><%=t 'views.product.header.new' %></h1>

<%= render :partial => "form",
           :locals => { :product => @product, :button_label => t('views.button.create') } %>

<%= link_to t('views.link.back'), products_path %>
